.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px );
  color: black; 
}

.task-form {
  background: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px 0;
  gap: 10px;
}

.task-form div {
  margin-bottom: 10px;
}

.task-form label {
  margin-right: 10px;
  font-weight: bold;
}

.task-form input,
.task-form select {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  padding: 10px 20px;
  background-color: #1c5c1e; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



ul {
  list-style: none;
  padding: 0;
}

.task-item {
  background: #e7e7e7; 
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;          
  flex-direction: row;    
  justify-content: space-between; 
  align-items: center;    
}

.task-item h3 {
  margin: 0 10px; 
  color: #136415; 
}

.task-item p {
  margin: 0 10px; /* Pridėkite tarpą tarp elementų */
  font-size: 0.9em; /* Mažesnis teksto dydis */
}

.search-input {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}
